@font-face {
    font-family: 'Fancy';
    src: url(fonts/GLORIOUS.otf);
}

body {
    margin: 0;
}

#content {
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}

.title {
    margin-top: 20px;
    font-size: 55px;
    font-family: 'Fancy', Impact, sans-serif;
    font-weight: 800;
}

.game{
    border:1px solid black;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 150px;
    padding-bottom: 150px;

}

.play {
    font-size: 25px;
    font-family: 'Fancy', Impact, sans-serif;
    font-weight: 800;
    padding: 5px;
}

