@font-face {
    font-family: 'Fancy';
    src: url(fonts/GLORIOUS.otf);
}

body {
    margin: 0;
}

#content {
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
}

.title {
    margin-top: 20px;
    font-size: 55px;
    font-family: 'Fancy', Impact, sans-serif;
    font-weight: 800;
}

.game{
    border:1px solid black;
    height: 350px;
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

}

.bux{
    font-size: 20px;
    font-family: 'Fancy', Impact, sans-serif;
    font-weight: 800;
    padding: 15px;
    cursor: pointer;

}


.play {
    font-size: 25px;
    font-family: 'Fancy', Impact, sans-serif;
    font-weight: 800;
    padding: 5px;
    cursor: pointer;
    transition
}

.play:hover {
    font-size: 30px;
}
