@font-face {
    font-family: 'Fancy';
    src: url(fonts/GLORIOUS.otf);
}

body {
    margin: 0;
    background-color: black;
}

.test{
    color: rgb(241, 234, 234);
    font-family: 'Fancy', Impact;
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 800;
}